// This way we turn CSS Modules off and apply these css rules globaly
:global {

  .active:visited,
  .active {
    color: purple;
    font-weight: bold;
    text-decoration: underline;
  }

  // scss-lint:disable IdSelector
  #nav.affix {
    position: fixed;
    top: 3px;
    width: 80%;
    z-index: 10;
  }

  .fa-minus-circle {
    color: $brand-danger;
  }

  .fa-tasks {
    color: $brand-warning;
  }

  .fa-check {
    color: $brand-success;
  }
}
