.taskStatusIconContainer {
  @include icon-circle($gray-light);
  margin-right: 10px;
  z-index: 100;

  .taskStatusIcon {
    @include icon-circle-font(18px);
  }
}

.taskStatusIconContainer:hover {
  cursor: pointer;
  @include icon-circle($brand-info);

  .taskStatusIcon {
    @include icon-circle-font(18px);
  }

  .categoriesContainer {
    display: block;
  }
}

.categoriesContainer {
  padding-bottom: 20px;
  display: none;
  width: 150px;
  position: absolute;
  top: -44px;
  left: 50%;
  transform: translateX(-50%);
}

.categories {
  height: 41px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 0px 1px #AAAAAA;
}

.category {
  position: relative;
  width: 50px;
  height: 100%;
  display: inline-block;

  &:hover {
    cursor: pointer;

    .categoryLabelContainer {
      display: block;
    }

    :global {
      .fa {
        font-size: 28px;
        color: $brand-info;
      }
    }
  }

  :global {
    .fa {
      position: absolute;
      font-size: 24px;
      color: $gray-light;
      margin: auto;
      top: 5px; bottom: 0px; right: 0px; left: 0px;
    }
  }
}

.categoryLabelContainer {
  display: none;
  position: absolute;
  width: 80px;
  padding: 1px 8px;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  background: $tooltip-bg;
  opacity: $tooltip-opacity;

  span {
    color: white;
    font-size: 12px;
  }
}
