.taskRow {
  height: 42px;
  position: relative;
  display: flex;
  padding: 3px 0;
  align-content: space-around;
  border-bottom: solid 1px #CCCCCC;
  background-color: $table-bg-accent;
  font-size: 12px;
  z-index: 100;
  padding-right: 35px;

  &:hover {
    cursor: pointer;
    background-color: $gray-lighter;

    .taskEditBtn {
      visibility: visible;
    }
  }
}

.taskRow.completed {
  text-decoration: line-through;
}

.taskRow.selected {
  background-color: $gray-lighter;
}

.taskItem {
  composes: taskRow;
}

.taskItemOverdue {
  composes: taskRow;
  color: $brand-danger;
}

.taskAttribute {
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-basis: 0;
  margin: 0 6px;

  > span {
    line-height: 35px;
  }

  :global {
    .fa {
      font-size: 22px;
    }
  }
}

.taskStatus {
  composes: taskAttribute;
  flex: none;
  width: 36px;
  text-align: center;
}

.taskPartner {
  composes: taskAttribute;
  flex: none;
  width: 100px;
  overflow: hidden;
}

.taskDeadline {
  composes: taskAttribute;
  flex: none;
  width: 75px;
  overflow: hidden;
}

.taskDescription {
  composes: taskAttribute;
  flex-grow: 14;
  overflow: hidden;
}

.selectedTaskPointer {
  width: 38px;
  height: 38px;
  overflow: hidden;
  box-shadow: 0 16px 10px -38px rgba(0,0,0,.5);
  position: absolute;
  right: -25px;
  z-index: 100;
  transform: rotate(270deg);
}

.selectedTaskPointer:after {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  background: $table-bg-accent;
  transform: rotate(45deg);
  top: 29px;
  left: 12px;
  box-shadow: -1px -1px 10px -2px rgba(0,0,0,.5);
}

.taskEditBtn {
  visibility: hidden;
  position: absolute;

  span {
    line-height: 34px;
  }

  &:hover {
    color: $brand-primary;
  }
}
