.newTaskContainer {
  height: 420px;
  width: 35%;
  margin-top: 39px;
  padding: 6px 12px;
  background-color: $table-bg-accent;
  float: right;
  box-shadow: 0px 0px 4px #AAAAAA;
  border-radius: 2px;
}

.header {
  width: 100%;
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.iconSelectorContainer {
  @include icon-container-dropdown;
  display: inline-block;

  .iconContainer {
    @include icon-circle($gray-light);
    margin-right: 10px;

    .icon {
      @include icon-circle-font($gray-light, 18px);
    }
  }

  .iconLabel {
    @include icon-label($gray-light);
  }
}

.iconSelectorContainer:hover {
  cursor: pointer;

  .iconContainer {
    @include icon-circle($brand-info);

    .icon {
      @include icon-circle-font($brand-info, 18px);
    }
  }

  .iconLabel {
    @include icon-label($brand-info);
  }
}

.partnerSelectorContainer {
  composes: iconSelectorContainer;
  margin-right: 20px;
}

.deadlineSelectorContainer {
  composes: iconSelectorContainer;

  :global {
    .datepicker__input-container {
      display: inline-block;
    }

    .datepicker__input {
      display: inline-block;
      width: 108px;
    }
  }
}

.secondHeader {
  margin-bottom: 15px;
}

.categoryToggleContainer {
  width: 180px;
  float: left;
}

.categoryToggleContainer:hover {
  cursor: pointer;
}

.deleteTaskBtn {
  float: right;
  font-weight: 300;
}

.thirdHeader {
  margin-bottom: 15px;
}

.categoryBtn {
  font-weight: 300;
  float: left;
}

.taskStatusIconContainer {
  @include icon-circle($gray-light);
  margin-right: 10px;

  .taskStatusIcon {
    @include icon-circle-font($gray-light, 18px);
  }
}

.taskStatusIconContainer:hover {
  cursor: pointer;
  @include icon-circle($brand-info);

  .taskStatusIcon {
    @include icon-circle-font($brand-info, 18px);
  }

  .categoriesContainer {
    display: block;
  }
}

.categoriesContainer {
  padding-bottom: 20px;
  display: none;
  width: 150px;
  position: absolute;
  top: -44px;
  left: 50%;
  transform: translateX(-50%);
}

.categories {
  height: 41px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 0px 1px #AAAAAA;
}

.category {
  position: relative;
  width: 50px;
  height: 100%;
  display: inline-block;

  &:hover {
    cursor: pointer;

    .categoryLabelContainer {
      display: block;
    }

    :global {
      .fa {
        font-size: 28px;
        color: $brand-info;
      }
    }
  }

  :global {
    .fa {
      position: absolute;
      font-size: 24px;
      color: $gray-light;
      margin: auto;
      top: 5px; bottom: 0px; right: 0px; left: 0px;
    }
  }
}

.categoryLabelContainer {
  display: none;
  position: absolute;
  width: 80px;
  padding: 1px 8px;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  background: $tooltip-bg;
  opacity: $tooltip-opacity;

  span {
    color: white;
    font-size: 12px;
  }
}

.taskTitle {
  display: inline-block;
  width: calc(100% - 46px);
  float: right;
}

.taskDescription {
  width: calc(100% - 46px);
  float: right;
  color: $gray;
  font-size: 12px;
}
