.taskRow {
  display: flex;
  align-content: space-around;
  padding: 3px 0;
  border-bottom: solid 1px #CCCCCC;
}

.taskItem {
  composes: taskRow;
  background-color: $table-bg-accent;
  font-size: 12px;

  &:hover {
    cursor: pointer;
  }
}

.taskItemOverdue {
  composes: taskRow;
  color: $brand-danger;
  background-color: $table-bg-accent;
  font-size: 12px;

  &:hover {
    cursor: pointer;
  }
}

.taskAttribute {
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-basis: 0;
  margin: 0 6px;

  > span {
    line-height: 35px;
  }
}

.taskStatus {
  composes: taskAttribute;
  flex-grow: 1;
  min-width: 36px;
}

.taskPartner {
  composes: taskAttribute;
  flex-grow: 2;
  min-width: 60px;
}

.taskDeadline {
  composes: taskAttribute;
  flex-grow: 2;
  min-width: 75px;
}

.taskDescription {
  composes: taskAttribute;
  flex-grow: 14;
}
