.taskListHeaders {
  display: flex;
  align-content: space-around;
  margin-bottom: 17px;
}

.taskListHeader {
  margin: 0 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  flex-basis: 0;

  span:hover {
    cursor: pointer;
  }
}

.placeholderHeader {
  margin: 0 6px;
  flex: none;
  width: 36px;
}

.partnerHeader {
  composes: taskListHeader;
  flex: none;
  width: 60px;
}

.dueDateHeader {
  composes: taskListHeader;
  flex: none;
  width: 75px;
}

.titleHeader {
  composes: taskListHeader;
  flex-grow: 14;
}

.headerSelected {
  text-decoration: underline;
}

.sortArrow {
  &:after {
    content: "";
    display: inline-block;
    position: relative;
    width: 6px;
    height: 6px;
    right: -3px;
    transform: rotate(45deg);
  }
}

.sortArrowDesc {
  composes: headerSelected;
  composes: sortArrow;
  &:after {
    border-right: solid 2px $brand-primary;
    border-bottom: solid 2px $brand-primary;
    top: -2px;
  }
}

.sortArrowAsc {
  composes: headerSelected;
  composes: sortArrow;
  &:after {
    border-left: solid 2px $brand-primary;
    border-top: solid 2px $brand-primary;
    top: 1px;
  }
}
