:global {
  div.new-item-wrapper-enter {
    overflow: hidden;
    right: -38%;

    > div {
      left: -100%;
    }
  }

  div.new-item-wrapper-enter.new-item-wrapper-enter-active {
    overflow: hidden;
    right: -25px;
    transition: all 0.3s linear;

    > div {
      left: 0px;
      transition: all 0.3s linear;
    }
  }

  div.new-item-wrapper-leave {
    overflow: hidden;
    right: -25px;

    > div {
      left: 0px;
    }
  }

  div.new-item-wrapper-leave.new-item-wrapper-leave-active {
    overflow: hidden;
    right: -38%;
    transition: all 0.3s linear;

    > div {
      left: -100%;
      transition: all 0.3s linear;
    }
  }
}

.newTaskWrapper {
  position: absolute;
  width: 38%;
  height: 420px;
  float: right;
  border: 1px transparent;
  margin-top: 34px;
  padding: 6px 12px;
  right: -25px;
}

.newTaskContainer {
  height: 420px;
  width: 100%;
  position: absolute;
  right: 0;
  background-color: $table-bg-accent;
  box-shadow: 0px 0px 4px #AAAAAA;
  border-radius: 2px;
  padding: 6px 12px;
}

.header {
  width: 100%;
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.iconSelectorContainer {
  @include icon-container-dropdown;
  display: inline-block;
  position: relative;

  .iconContainer {
    @include icon-circle($gray-light);
    margin-right: 10px;

    .icon {
      @include icon-circle-font($gray-light, 18px);
    }
  }

  .iconLabel {
    @include icon-label($gray-light);
  }
}

.iconSelectorContainer:hover {
  cursor: pointer;

  .iconContainer {
    @include icon-circle($brand-info);

    .icon {
      @include icon-circle-font($brand-info, 18px);
    }
  }

  .iconLabel {
    @include icon-label($brand-info);
  }
}

.iconLabelContainer {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 36px;
  float: right;
  line-height: 33px;
}

.partnerSelectorContainer {
  composes: iconSelectorContainer;
  margin-right: 20px;
}

.deadlineSelectorContainer {
  composes: iconSelectorContainer;
  display: block;
  width: 175px;

  :global {
    .datepicker__input-container {
      display: inline-block;
    }

    .datepicker__input {
      display: inline-block;
      width: 108px;
    }
  }
}

.secondHeader {
  margin-bottom: 15px;
}

.categoryToggleContainer {
  width: 180px;
  float: left;
}

.categoryToggleContainer:hover {
  cursor: pointer;
}

.deleteTaskBtn {
  float: right;
  font-weight: 300;
}

.thirdHeader {
  margin-bottom: 15px;
}

.categoryBtn {
  font-weight: 300;
  float: left;
}

.taskTitle {
  display: inline-block;
  width: calc(100% - 46px);
  float: right;
}

.taskDescription {
  width: calc(100% - 46px);
  float: right;
  color: $gray;
  font-size: 12px;
}
