.tasksFiltersContainer {
  padding: 0px
}

.searchBar {
  margin-bottom: 40px;
  height: 38px;
}

.taskTypeFilterHeader {
  color: #898989;
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}

.filterContainer {
  margin-top: 20px;
  height: 200px;
  overflow: scroll;
}

.filterTitle {
  display: block;
  margin-bottom: 8px;
}

.filterLabel {
  font-weight: 400;
  margin-bottom: 10px;
}

.selectedCategory {
  background-color: #798d8f !important;
  border: 0px solid transparent;
}

.unselectedCategory {
  background-color: #95a5a6 !important;
  border: 0px solid transparent;
}
