.taskList {
  list-style-type: none;
  float: left;
  padding: 0px;
  transition: width 0.3s linear;
}

.taskListCompact {
  composes: taskList;
  width: 62%;
}

.taskListExpanded {
  composes: taskList;
  width: 100%;
}

.taskListContainer {
  max-height: 566px;
  overflow: scroll;
  padding-right: 22px;
}

.taskListContainer::-webkit-scrollbar {
  display: none;
}
