.taskListHeader {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }
}

.partnerHeader {
  composes: taskListHeader;
  width: 12%;
}

.dueDateHeader {
  composes: taskListHeader;
  width: 12%;
}

.titleHeader {
  composes: taskListHeader;
  width: 76%;
}

.headerSelected {
  text-decoration: underline;
}

.sortArrow {
  &:after {
    content: "";
    display: inline-block;
    position: relative;
    width: 6px;
    height: 6px;
    right: -3px;
    transform: rotate(45deg);
  }
}

.sortArrowDesc {
  composes: headerSelected;
  composes: sortArrow;
  &:after {
    border-right: solid 2px $brand-primary;
    border-bottom: solid 2px $brand-primary;
    top: -2px;
  }
}

.sortArrowAsc {
  composes: headerSelected;
  composes: sortArrow;
  &:after {
    border-left: solid 2px $brand-primary;
    border-top: solid 2px $brand-primary;
    top: 1px;
  }
}
