.tasksFiltersContainer {
  width: 20%;
  padding: 0px 20px 0px 0px;
  float: left;
  position: relative;
}

@media(min-width: 1400px) {
  .tasksContainer {
    width: 80%;
    position: relative;
    float: right;
  }
}

.tasksContainer {
  position: relative;
}
