@mixin icon-container-dropdown {
  color: $gray-light;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 35px;

  &:hover {
    cursor: pointer;
    color: $brand-info;
    border: 2px solid $brand-info;
  }
}

@mixin icon-circle($borderColor) {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  border: 1px solid $borderColor;
  background-color: #fff;
  text-align: center;
}

@mixin icon-circle-font($fontColor, $size) {
  color: $fontColor;
  font-size: $size;
  line-height: 34px;
}

@mixin icon-label($fontColor) {
  color: $fontColor;
  font-size: 12px;
  font-weight: 300;
}

textarea {
    resize: none;
}

.container {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
