:global {
  div.datepicker {
    background-color: #ECF0F1;
    border: 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2)
  }

  div.datepicker__current-month {
    color: #2C3E50;
    font-family: Lato;
  }

  a.datepicker__navigation--previous {
    border-right-color: #2C3E50;

    &:hover {
      border-right-color: #1a252f;
    }
  }

  a.datepicker__navigation--next {
    border-left-color: #2C3E50;

    &:hover {
      border-left-color: #1a252f;
    }
  }

  div.datepicker__tether-element-attached-bottom {
    .datepicker__triangle {
      border-top-color: #ECF0F1;
    }
  }

  .datepicker__day {
    font-family: Lato;
  }

  .datepicker__header {
    border-bottom: 1px solid #95A5A6;
  }
}
